{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
	<!-- Google fonts-->
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/styles.css') %}
		{% do assets.addCss('https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css') %}
    {% endblock %}

    {% block javascripts %}
        {% do assets.addJs('https://use.fontawesome.com/releases/v5.15.1/js/all.js') %}
        {% do assets.addJs('https://code.jquery.com/jquery-3.5.1.slim.min.js', {'priority':104,'group':'bottom'}) %}
        {% do assets.addJs('https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js', {'priority':103,'group':'bottom'}) %}
        {% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js', {'priority':102,'group':'bottom'}) %}
        {% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js', {'priority':101,'group':'bottom'}) %}
        {% do assets.addJs('theme://js/scripts.js', {'priority':100,'group':'bottom'}) %}
    {% endblock %}

    {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
    {% endblock %}

{% endblock head %}
</head>
<body id="page-top">
	{% block nav %}
		{% include 'partials/navigation.html.twig'%}
	{% endblock %}

	{% block body %}
		{% block content %}{% endblock %}
	{% endblock %}

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

    {% block bottom deferred %}
        {{ assets.js('bottom')|raw }}
    {% endblock %}
</body>
</html>
